.movie-details {
  margin-top: 30px;
}

.movie-details-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.movie-info-holder {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 30px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.movie-detils-card-top {
  height: 30%;
}
.movie-detils-card-mid {
  height: 30%;
}
.movie-detils-card-mid h4 {
  font-weight: bold;
  color: white;
}
p {
  color: white;
  font-size: 20px;
}
.fa-star {
  margin-left: 5px;
}

.movie-detils-card-top h1 {
  font-weight: bold;
  color: white;
  display: inline-block;
}
.movie-detils-card-top h3 {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.616);
  display: inline-block;
  margin-left: 5px;
}

.checked {
  color: orange;
}

.rate-points {
  color: white;
}
/* ------------------ */
.background {
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(80%) blur(3px);
  position: relative;
}
