<div class="container" *ngIf="movies != null">
    <div>
        <h1>{{typeTitle}}</h1>
    </div>
    <div class="card-columns">
        <div *ngFor="let movie of movies.results" class="card" style="width: 23rem; height: 45rem;">
            <img (click)="movieDetails(movie.id)" class="card-img-top" src="{{ movie.poster_path }}"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">
                    {{movie.overview}}
                </p>
            </div>
        </div>
    </div>
    <div class="pagination">
        <a (click)="changePage(page)" [ngClass]="{'active': isActive(page)}" *ngFor="let page of pages">{{page}}</a>
    </div>

</div>